# Python virtual environment
venv/
.venv/
env/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/

# OS artifacts
.DS_Store
Thumbs.db

# PyInstaller / Build artifacts
build/
dist/
.pyinstaller/
*.egg-info/
